@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  color: #111827;
}

.dark body {
  background-color: #111827;
  color: #f9fafb;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
